In [1]:
import pathlib

import pandas as pd

In [2]:
input_dir = pathlib.Path("../results/mAP_cell_percentages/").resolve(strict=True)
output_file = pathlib.Path("../results/mAP_cell_percentages.parquet").resolve()
# get a list of all files in the directory
df = pd.concat([pd.read_parquet(file) for file in list(input_dir.glob("*"))])
df.to_parquet(output_file)
df.head()

,Metadata_Time,Metadata_dose,Metadata_reference_index,mean_average_precision,indices,p_value,corrected_p_value,below_p,below_corrected_p,-log10(p-value),percentage_of_cells,seed,shuffle
0,0.0,0.61,-1,1.0,"[0, 9, 18]",9.999990e-07,9.999990e-07,True,True,6.0,0.4,246889,True
1,0.0,1.22,-1,1.0,"[1, 10, 19]",9.999990e-07,9.999990e-07,True,True,6.0,0.4,246889,True
2,0.0,2.44,-1,1.0,"[2, 11, 20]",9.999990e-07,9.999990e-07,True,True,6.0,0.4,246889,True
3,0.0,4.88,-1,1.0,"[3, 12, 21]",9.999990e-07,9.999990e-07,True,True,6.0,0.4,246889,True
4,0.0,9.77,-1,1.0,"[4, 13, 22]",9.999990e-07,9.999990e-07,True,True,6.0,0.4,246889,True